[Unit]
Description=Arduino Switchboard Control Service

[Service]
Type=simple
ExecStart=%h/.local/bin/SwitchboardController
Restart=unless-stopped

[Install]
