[Unit]
Description=Arduino Switchboard Control Service

[Service]
Type=simple
ExecStart=%h/.local/bin/SwitchboardController

CPUQuota=5%

RuntimeMaxSec=21600s
Restart=always